* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
}

#active-window {
    box-shadow: none;
    text-shadow: none;
    border-radius: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 8px;
    margin-left: 8px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: rgba(239, 241, 245, 1);
}

#hyprland-workspaces {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 8px;
    margin-left: 8px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: rgba(239, 161, 29, 1);
}

#hyprland-window {
    box-shadow: none;
    text-shadow: none;
    border-radius: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 8px;
    margin-left: 8px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: rgba(239, 161, 29, 1);
}

#network {
    box-shadow: none;
    text-shadow: none;
    border-radius: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 8px;
    margin-left: 8px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: rgba(239, 241, 245, 1);
}

#custom-menu {
    box-shadow: none;
    text-shadow: none;
    border-radius: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 8px;
    margin-left: 8px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: rgba(239, 241, 245, 1);
    color: #795c34;
}

#clock {
    box-shadow: none;
    text-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 8px;
    margin-left: 8px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: rgba(239, 241, 245, 1);
    color: #564e74;
}

#pulseaudio {
    box-shadow: none;
    text-shadow: none;
    padding-top: 5px;
    padding-bottom: 0px;
    border-radius: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 8px;
    margin-left: 8px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: rgba(239, 241, 245, 1);
    color: #e75480;
}

#custom-shutdown {
    box-shadow: none;
    text-shadow: none;
    font-size: 18px;
    border-radius: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 24px;
    margin-left: 8px;
    padding-right: 16px;
    padding-left: 12px;
    background-color: rgba(239, 241, 245, 1);
    color: #242639;
}

tooltip {
    background-color: rgba(239, 241, 245, 1);
    color: #ffffff;
    border: 1px solid #444444;
    border-radius: 12px;
    padding: 6px;
}


#cpu {
    padding-right: 16px;
    color: #088f8f;
}

#memory {
    padding-right: 16px;
    color: #8b0000;
}

#temperature {
    color: #ff8c00;
}

#sys-info {
    box-shadow: none;
    text-shadow: none;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 8px;
    margin-left: 8px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgba(239, 241, 245, 1);
}
