* {
  font-family: JetBrainsMono, monospace;
  font-size: 14px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}

#clock, #pulseaudio, #custom-launcher {
  padding: 0 10px;
  margin: 0 5px;
  background-color: #313244;
  border-radius: 5px;
}
